<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bruno's Kitchen.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
				<key>dateExpires</key>
				<string>17/12/2025</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>11.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>11.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>11.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>11.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>11.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>11.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>11.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>11.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>11.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>23.30.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeApplePay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>23.30.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>23.30.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeFinancialConnections.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>23.30.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripePaymentSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>23.30.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripePayments.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>23.30.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripePaymentsUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>23.30.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeUICore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>23.30.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_credit_card.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_facebook_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_localization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>map_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>stripe_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63068E602D3CE72062AE4D62E656055D0BD6503</string>
						<key>dateExpires</key>
						<string>17/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>966PMCHY9M</string>
						<key>name</key>
						<string>Steve Bader</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>966PMCHY9M.com.bruno.kitchen</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>966PMCHY9M</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8aec2a4c-55df-4f5e-8598-7803efe7c236</string>
				<key>dateExpires</key>
				<string>18/12/2025</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.bruno.kitchen</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>966PMCHY9M</string>
				<key>name</key>
				<string>Steve Bader</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
